.Rivals-box {
  width: 100%;
  height: 100vh;
  /*  background-color: yellow; */
}

.rivals-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333333;
}

.rivals-h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.rivals-subtitle {
  font-size: 14px;
  line-height: 20px;
}

.rivals-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.rivals-img-1 {
  width: 20%;
  height: 120px;
  background-image: url('../images/rivals/stage_1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*   background-color: #fff; */
}

.rivals-img-2 {
  width: 30%;
  background-image: url('../images/rivals/stage_2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*  background-color: green; */
}
.rivals-img-3 {
  width: 30%;
  background-image: url('../images/rivals/stage_3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*  background-color: purple; */
}
.rivals-img-4 {
  width: 20%;
  background-image: url('../images/rivals/stage_4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*   background-color: orangered; */
}
.rivals-img-point {
  width: 85%;
  height: 20px;
  /* background-color: blue; */
  /*     background-image: url(../images/rivals/points_group.svg);
  background-repeat: repeat-x;
  background-position: left bottom; */
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
}
.rivals-car {
  width: 13%;
  height: auto;
  position: absolute;
  top: 0;
  left: -4%;
}

.move-car-fwd-section-1 {
  animation: ride1 0.5s;
  animation-fill-mode: forwards;
  @-webkit-keyframes ride1 {
    0% {
      left: -4%;
    }
    100% {
      left: 25%;
    }
  }
}

.move-car-fwd-section-2 {
  animation: ride2 1s;
  animation-fill-mode: forwards;
  @-webkit-keyframes ride2 {
    0% {
      left: 25%;
    }
    100% {
      left: 62%;
    }
  }
}
.move-car-fwd-section-3 {
  animation: ride3 1s;
  animation-fill-mode: forwards;
  @-webkit-keyframes ride3 {
    0% {
      left: 62%;
    }
    100% {
      left: 90%;
    }
  }
}

.move-car-fwd-section-4 {
  animation: ride4 1s;
  animation-fill-mode: forwards;
  @-webkit-keyframes ride4 {
    0% {
      left: 90%;
    }
    100% {
      left: -4%;
    }
  }
}

.move-car-back-section-3 {
  animation: ride5 1s;
  animation-fill-mode: forwards;
  @-webkit-keyframes ride5 {
    0% {
      left: 90%;
    }
    100% {
      left: 62%;
    }
  }
}

.move-car-back-section-2 {
  animation: ride6 1s;
  animation-fill-mode: forwards;
  @-webkit-keyframes ride6 {
    0% {
      left: 62%;
    }
    100% {
      left: 25%;
    }
  }
}
.move-car-back-section-1 {
  animation: ride7 1s;
  animation-fill-mode: forwards;
  @-webkit-keyframes ride7 {
    0% {
      left: 25%;
    }
    100% {
      left: -4%;
    }
  }
}
.move-car-back-section-0 {
  animation: ride8 1s;
  animation-fill-mode: forwards;
  @-webkit-keyframes ride8 {
    0% {
      left: -4%;
    }
    100% {
      left: 90%;
    }
  }
}

.chek-point-color {
  width: 99%;
  /*  height: 2px; */
  border-bottom: dotted 3px #bebebe;
  position: absolute;
  top: 40%;
  left: 0;
  /* margin-top: 13px; */
}

.red-point {
  border-bottom-color: red;
  transition: border-bottom-color 3s ease;
}

.grey-point {
  border-bottom-color: #bebebe;
  transition: border-bottom-color 3s ease;
}
.way-point-1 {
  width: 27%;
  height: 30px;
  position: relative;
  /* background-color: green; */
}
.way-point-2 {
  width: 40%;
  height: 30px;
  position: relative;
  /* background-color: rgb(230, 214, 0); */
}
.way-point-3 {
  width: 33%;
  height: 30px;
  position: relative;
  /* background-color: rgb(230, 0, 153); */
}

.rivals-bottom {
  width: 100%;
  height: 51%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 300px;
}

.rivals-circle {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  box-shadow: 0 0 0 205px rgba(255, 255, 255, 0.3);
}

.rivals-circle-two {
  width: 100%;
  height: 280px;
  border-radius: 100%;
  box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.7);
}

.rivals-circle-three {
  width: 100%;
  height: 280px;
  border-radius: 100%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}

.rivals-working-circle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.rivals-circle-top {
  width: 100%;
  height: 140px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #c6c6c6;
  position: relative;
}

.rivals-case-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rivals-case-svg {
  width: 80px;
  height: auto;
  opacity: 1; /*Элемент полностью прозрачный (невидимый)*/
}

.hide-case {
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: hide-case 1s 1;
  animation-fill-mode: forwards;
}
@keyframes hide-case {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rivals-circle-bottom {
  width: 100%;
  height: 140px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  background-color: #ffffff;
  position: relative;
}

.rivals-site-box {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bebebe;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}

.rivals-circle-bottom-btn {
  width: 150px;
  height: 34px;
  background-color: #ef0006;
  border: none;
  outline: none;
  border-radius: 35px;
  box-shadow: 0px 0px 20px rgba(239, 0, 6, 0.5);
  cursor: pointer;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rivals-circle-bottom-btn:hover {
  transition-duration: 2s;
  background-color: rgb(195, 1, 1);
}
.rivals-circle-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*   background-color: yellow; */
  width: 50%;
  height: 10%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 80%;
  left: 25%;
}

.rivals-nav-li {
  width: 25px;
  height: 25px;
}
.nav-rivals-li {
  width: 7px;
  height: 7px;
  margin: auto auto;
  border-radius: 100%;
  background-color: #ededed;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.nav-rivals-li:hover {
  background-color: #ff0000;
  transform: scale(2);
}

.nav-li-active {
  background-color: #ff0000;
  transform: scale(2);
}

.rival-arrow-left {
  width: 40px;
  height: 280px;
}

.rival-arrow-right {
  width: 80px;
  height: 280px;
  position: relative;
  .rival-btn-right {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    box-shadow: 0px 0px 10px rgba(239, 0, 6, 0.5);
    cursor: pointer;

    .arrow-line-right {
      height: 10px;
      width: 10px;
      position: absolute;
      left: 25%;
    }
    .arrow-line-right-top,
    .arrow-line-right-bottom {
      transition: 2s;
      background: #ffffff;
      height: 2px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 15px;
    }
    .arrow-line-right-top {
      top: 0px;
    }
    .arrow-line-right-top {
      transform: rotate(45deg);
      transform-origin: bottom right;
    }
    .arrow-line-right-bottom {
      transform: rotate(-45deg);
      transform-origin: top right;
    }
  }
}

.rival-btn-right:hover {
  background-color: #fff;
  .arrow-line-right-top,
  .arrow-line-right-bottom {
    background: red;
  }
}

.rival-arrow-left {
  width: 80px;
  height: 280px;
  position: relative;
  .rival-btn-left {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    box-shadow: 0px 0px 10px rgba(239, 0, 6, 0.5);
    /*  margin-right: 30px; */
    cursor: pointer;
    .arrow-line-left {
      height: 10px;
      width: 10px;
      position: absolute;
      left: 30%;
    }
    .arrow-line-left-top,
    .arrow-line-left-bottom {
      background: #ffffff;
      height: 2px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 15px;
    }
    .arrow-line-left-top {
      top: 0px;
    }
    .arrow-line-left-top {
      transform: rotate(45deg);
      transform-origin: bottom left;
    }
    .arrow-line-left-bottom {
      transform: rotate(-45deg);
      transform-origin: top left;
    }
  }
}

.rival-btn-left:hover {
  background-color: #fff;
  .arrow-line-left-top,
  .arrow-line-left-bottom {
    background: red;
  }
}

// Модальное окно

.rivalsModal {
  width: 100%;
  height: 100vh;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: black;
  z-index: 1000;
}

.rivals-modal-container {
  width: 48%;
  height: 90%;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    180deg,
    #f4f4f4 0%,
    #f6f6f6 13.02%,
    #f7f7f7 28.65%,
    #f8f8f8 43.75%,
    #fafafa 57.81%,
    #fdfdfd 73.44%,
    #fdfdfd 86.46%,
    #ffffff 100%
  );
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.rivals-modal-grad {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../images//rivals/Modal/modal_1/bg_modal_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
}

.rival-modal-close {
  width: 31px;
  height: 31px;
  border-radius: 100%;
  border: solid #ef0006 1px;
  outline: none;
  position: absolute;
  top: 2%;
  left: 92%;
  cursor: pointer;
  background-color: white;
  font-size: 18px;
  color: #ef0006;
}
.rival-modal-close:hover {
  background-color: #ef0006;
  border: solid white 1px;
  color: white;
}

.rival-modal-content-box {
  position: absolute;
  top: 8%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*  align-items: center; */
  justify-content: center;
  /*  background-color: rgb(0, 0, 0); */
}

.rival-modal-title {
  width: 98%;
  line-height: 30px;

  background-color: white;
}

.rival-h2-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;
  padding-left: 20px;
}

.rivals-modal-subtitle {
  width: 98%;
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
}

.rival-maodal-circle-1 {
  width: 60%;
  height: 100%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  margin: auto auto;
  position: relative;
}

.rival-maodal-circle-2 {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rival-maodal-circle-3 {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-svg-box {
  width: 33.33%;
  height: 130px;
}

.modal-svg {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-svg-txt {
  width: 33.33%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  /* padding-left: 10px; */
  /*  padding-right: 10px; */
}

.modal-svg-txt-1 {
  width: 60%;
  height: 100%;
  margin: auto auto;
}

.modal-svg-txt-2 {
  width: 70%;
  height: 100%;
  margin: auto auto;
}

.modal-svg-txt-3 {
  width: 70%;
  height: 100%;
  margin: auto auto;
}

.modal-site-url {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}

.rivals-modal-btn {
  width: 50%;
  height: 260px;
  position: relative;
}

.modal-btn-result-site {
  width: 70%;
  height: 20%;
  border: none;
  outline: none;
  transition-duration: 2s;
  background: #ff6347;
  box-shadow: 0px 0px 20px #ff6347;
  border-radius: 35px;
  text-transform: uppercase;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.modal-btn-result-site:hover {
  transition-duration: 2s;
  background-color: rgb(195, 1, 1);
}

.rivals-modal-img {
  width: 50%;
  height: auto;
  background-image: url('../images/rivals/Modal/modal_1/device.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
