.web-working-box {
  width: 100%;
  height: 100vh;
  position: relative;
  /*   background-color: yellow; */
}

.web-working-title-box {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.web-working-h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
}

.web-working-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  margin-top: 10px;
}

.web-working-block-wrapper {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 12%;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-items: center; */
}

.web-working-arrow-left {
  width: 10%;
  height: 100%;
  position: relative;
  .web-working-btn-left {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
    transition: 2s;
    background-color: red;
    box-shadow: 0px 0px 10px rgba(239, 0, 6, 0.5);
    cursor: pointer;
    .arrow-line-left {
      height: 10px;
      width: 10px;
      position: absolute;
      left: 30%;
    }
    .arrow-line-left-top,
    .arrow-line-left-bottom {
      transition: 2s;
      background: #ffffff;
      height: 2px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 15px;
    }
    .arrow-line-left-top {
      top: 0px;
    }
    .arrow-line-left-top {
      transform: rotate(45deg);
      transform-origin: bottom left;
    }
    .arrow-line-left-bottom {
      transform: rotate(-45deg);
      transform-origin: top left;
    }
  }
}
.web-working-btn-left:hover {
  transition: 2s;
  background-color: #fff;
  .arrow-line-left-top,
  .arrow-line-left-bottom {
    transition: 2s;
    background: red;
  }
}

.web-working-arrow-right {
  width: 10%;
  height: 100%;
  position: relative;
  .web-working-btn-right {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    right: 80%;
    transform: translateY(-50%);
    transition: 2s;
    background-color: red;
    box-shadow: 0px 0px 10px rgba(239, 0, 6, 0.5);
    cursor: pointer;

    .arrow-line-right {
      height: 10px;
      width: 10px;
      position: absolute;
      left: 25%;
    }
    .arrow-line-right-top,
    .arrow-line-right-bottom {
      transition: 2s;
      background: #ffffff;
      height: 2px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 15px;
    }
    .arrow-line-right-top {
      top: 0px;
    }
    .arrow-line-right-top {
      transform: rotate(45deg);
      transform-origin: bottom right;
    }
    .arrow-line-right-bottom {
      transform: rotate(-45deg);
      transform-origin: top right;
    }
  }
}

.web-working-btn-right:hover {
  transition: 2s;
  background-color: #fff;
  .arrow-line-right-top,
  .arrow-line-right-bottom {
    transition: 2s;
    background: red;
  }
}

.web-working-img-container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 47% 47%;
  grid-template-areas: // даем название каждой ячейке сетки, что б управлять ими потом
    'slide1 slide2 slide3 slide4 '
    'slide5 slide6 slide7 slide8';

  grid-gap: 10px; // задаем отступы мкжду сеткой
}

// Устанавливаем положение большой фотографии
.web-slide-tall {
  grid-column-start: slide1;
  grid-column-end: slide1;
  grid-row-start: slide1;
  grid-row-end: slide5;
}

.web-slide-wide {
  grid-column-start: slide7;
  grid-column-end: slide8;
  grid-row-start: slide7;
  grid-row-end: slide8;
}

.web-slide-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.web-working-arrow-right {
  width: 10%;
  height: 100%;
  /*   background-color: blue; */
}

.web-working-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.web-slide-box-info {
  width: 0%;
  height: 0%;
  position: relative;
  position: absolute;
  top: 0; // 0 90
  left: 0; //0 90
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  background-color: #ef1841;
  cursor: pointer;
}

/* .web-slide-box-ear {
  position: absolute;
  top: 0%;
  left: -12%;
  width: 15px;
  height: 80px;
  background-color: #fff;
  border-radius: 0 30px 30px 0;
} */

.web-slide-box-ear {
  width: 5px;
  height: 20px;
  background-color: #fff;
  border-radius: 0 30px 30px 0;
}

@keyframes to-top-in {
  0% {
    top: 100%;
    width: 100%;
    height: 0%;
  }
  100% {
    top: 0%;
    height: 100%;
    width: 100%;
  }
}

@keyframes to-top-out {
  0% {
    top: 0;
    width: 100%;
    height: 100%;
  }
  100% {
    top: 0;
    height: 0%;
    width: 100%;
  }
}

@keyframes to-bottom-in {
  0% {
    top: 0%;
    height: 0%;
    width: 100%;
  }
  100% {
    top: 0%;
    width: 100%;
    height: 100%;
  }
}

@keyframes to-bottom-out {
  0% {
    top: 0%;
    width: 100%;
    height: 100%;
  }
  100% {
    top: 100%;
    height: 0%;
    width: 100%;
  }
}

@keyframes to-right-in {
  0% {
    left: 100%;
    width: 0%;
    height: 100%;
  }
  100% {
    left: 0%;
    height: 100%;
    width: 100%;
  }
}

@keyframes to-right-out {
  0% {
    left: 0%;
    width: 100%;
    height: 100%;
  }
  100% {
    left: 100%;
    height: 100%;
    width: 0%;
  }
}

@keyframes to-left-in {
  0% {
    left: 0%;
    width: 0%;
    height: 100%;
  }
  100% {
    left: 0%;
    height: 100%;
    width: 100%;
  }
}

@keyframes to-left-out {
  0% {
    left: 0%;
    width: 100%;
    height: 100%;
  }
  100% {
    left: 0%;
    height: 100%;
    width: 0%;
  }
}

/* .to-top {
  width: 100%;
  height: 100%;
  transition: 2s;
} */

.web-slide-case-box {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 200px;
}

.web-working-case-company-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.web-working-case-description-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: white;
  margin-top: 10px;
}

.web-working-case-format-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  color: white;
  margin-top: 20px;
}
