.pop-menu {
  width: 8.6%;
  position: fixed;
  float: left;
  z-index: 1000;
}

.burger-btn {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  outline: none;
  padding: 0;
  /*   margin-top: 10px; */
  margin-left: 10px;
}

.burger-text {
  width: 35px;
  height: auto;
  display: block;
  margin: auto auto;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  color: #5e5e5e;
  font-size: 12px;
  margin-top: 5px;
  visibility: hidden;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #141414;
  margin: auto auto;
  margin-top: 10px;
  transition: 0.4s;
}

/* Крутим перый div */
.change .bar1 {
  width: 35px;
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  transform: rotate(-45deg) translate(-10px, 10px);
}

/* Убираем второй div */
.change .bar2 {
  opacity: 0;
}

/* Крутим третий div */
.change .bar3 {
  width: 35px;
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
}

.dropdown-content {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  line-height: 8.33vh;
  display: none;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vh;
  z-index: 998;

  .li-item {
    padding-left: 30px;
  }
  .li-item:hover {
    background-color: red;
    transition: 1s;
  }
  /* Добавляем в качестве маркера символ */
  .link-subMenu:before {
    content: '> ';
    color: red;
  }

  .link-subMenu:hover:before {
    content: '> ';
    width: 10px;
  }

  .link-subMenu {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #141414;
    text-decoration: none;
    display: block;
  }
  .link-subMenu:hover {
    color: white;
  }
}
.show {
  display: block;
}

@media (min-width: 650px) {
  .burger-btn {
    height: 50px;
    border: none;
    background: transparent;
    margin-left: 0px;
    margin-top: 0;
    margin-left: 0;
  }
  .burger-text {
    visibility: visible;
  }
  .dropdown-content {
    width: 400px;
    left: 100%;
    opacity: 0.9;
  }
}

@media (min-width: 767px) {
  .burger-btn {
    height: 50px;
    border: none;
    background: transparent;
    margin-left: 0px;
    margin-top: 0;
    margin-left: 0;
  }
  .burger-text {
    visibility: visible;
  }
  .dropdown-content {
    width: 400px;
    left: 100%;
    opacity: 0.9;
  }
}

@media (min-width: 1200px) {
  .burger-btn {
    height: 50px;
    border: none;
    background: transparent;

    margin-top: 0;
    margin-left: 0;
  }
  .burger-text {
    visibility: visible;
  }
  .dropdown-content {
    width: 400px;
    left: 100%;
    opacity: 0.9;
  }
}
