.h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 80%;
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
}

.red-txt {
  color: red;
}

.white-text {
  color: white;
}

.grey {
  color: #c8c8c8;
}

.nearly-black {
  color: #141414;
}

.normolize-p {
  padding: 0;
  margin: 0;
}

.normolize-pm {
  padding: 0;
  margin: 0;
}

.red-bg {
  background-color: red;
}
.boild {
  font-weight: bold;
}

/* .left {
  text-align: left;
}
 */
.grey {
  color: rgba(0, 0, 0, 0.25);
}

@media (min-width: 650px) {
  .h1 {
    width: 100%;
    font-size: 28px;
    top: 22%;
    padding-top: 0%;
  }
}

@media (min-width: 1200px) {
  .h1 {
    width: 100%;
    font-size: 34px;
    top: 22%;
    padding-top: 0%;
  }
}
