.header {
  width: 100%;
  height: 16%;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 998;
  text-align: center;
  background: transparent;
}
.none {
  visibility: hidden;
}

.line-height {
  line-height: 20px;
}

.Hmenu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  line-height: 100%;
}

.btn-menu {
  width: 8.7%;
  padding-left: 5px;
}

.quote {
  width: 15%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  text-align: left;
  margin-left: 64px;
  display: none;
}

.schedule {
  width: 12%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  text-align: left;
  display: none;
}

.logo-img {
  width: 27.3%;
  display: none;
}

.Hmenu-logo {
  width: 99px;
  height: 85px;
}
.messengers {
  width: 15%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  text-align: left;
  display: none;
}

.messengers-box {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.mes-wifi-box {
  margin-right: 10px;
  cursor: pointer;
  .wifi-svg {
    transition-duration: 0.2s;
  }
  .wifi-svg-img {
    width: 29px;
    height: 29px;
  }
  .wifi-svg-over {
    fill: rgb(0, 0, 87);
    transition-duration: 0.2s;
  }
}

.mes-wifi-box:hover {
  .wifi-svg {
    transform: translate(0, -40px);
    transition-duration: 0.4s;
  }

  .wifi-svg-over {
    transform: translate(0, 0);
    transition-duration: 0.4s;
  }
}

.mes-plane-box {
  margin-right: 14px;
  overflow: hidden;
  cursor: pointer;
  .plane-svg {
    transition-duration: 0.2s;
  }
  .plane-svg-img {
    width: 35px;
    height: 29px;
  }
  .plane-svg-over {
    fill: red;
    transition-duration: 0.2s;
  }
}

.mes-plane-box:hover {
  .plane-svg {
    transform: translate(0, -40px);
    transition-duration: 0.4s;
  }
  .plane-svg-over {
    transform: translate(0, 0);
    transition-duration: 0.4s;
  }
}

.mes-whatsapp-box {
  margin-right: 14px;
  overflow: hidden;
  cursor: pointer;
  .whatsapp-svg {
    transition-duration: 0.2s;
  }
  .whatsapp-svg-img {
    width: 29px;
    height: 29px;
  }
  .whatsapp-svg-over {
    fill: green;
    transition-duration: 0.2s;
  }
}

.mes-whatsapp-box:hover {
  .whatsapp-svg {
    transform: translate(0, -40px);
    transition-duration: 0.4s;
  }

  .whatsapp-svg-over {
    transform: translate(0, 0);
    transition-duration: 0.4s;
  }
}

.call-us {
  width: 21%;
  font-family: 'CeraPro';
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  text-align: left;
  display: none;
  cursor: pointer;
  .call-svg-box {
    float: left;
    overflow: hidden;
  }

  .call-svg-img {
    width: 39px;
    height: 38px;
  }
  .call-svg {
    transition-duration: 0.2s;
  }

  .call-svg-over {
    stroke: red;
    transition-duration: 0.2s;
  }
  .call-phone {
    font-size: 20px;
    line-height: 30px;
  }
}

.call-us:hover {
  .call-svg {
    transform: translate(0, -50px);
    transition-duration: 0.4s;
  }
  .call-svg-over {
    transform: translate(0, 0);
    transition-duration: 0.4s;
  }
  .call-phone {
    color: red;
  }
}

@media (min-width: 650px) {
  .btn-menu {
    width: 8%;
  }
  .quote {
    display: block;
    margin-left: 10px;
    width: 20%;
    font-size: 12px;
  }
  .schedule {
    display: block;
    padding-left: 10px;
    width: 16%;
    font-size: 12px;
  }

  .logo-img {
    display: block;
    width: 14%;
  }
  .messengers {
    display: block;
    width: 14%;
    font-size: 12px;
    padding-left: 20px;
  }
  .mes-wifi-box {
    margin-right: 7px;

    .wifi-svg-img {
      width: 24px;
      height: 24px;
    }
  }

  .mes-plane-box {
    margin-right: 7px;
    .plane-svg-img {
      width: 27px;
      height: 21px;
    }
  }

  .mes-whatsapp-box {
    .whatsapp-svg-img {
      width: 23px;
      height: 23px;
    }
  }
  .call-us {
    display: block;
    font-size: 12px;
    .call-phone {
      font-size: 14px;
    }
    .call-svg-img {
      width: 34px;
      height: 33px;
    }
  }
  .call-phone {
    font-size: 24px;
    line-height: 33px;
  }
}

@media (min-width: 1200px) {
  .btn-menu {
    width: 8.7%;
  }
  .quote {
    width: 15%;
    display: block;
    margin-left: 64px;
    font-size: 14px;
  }
  .schedule {
    width: 13.5%;
    display: block;
    font-size: 14px;
  }

  .logo-img {
    display: block;
    width: 27.3%;
    font-size: 14px;
  }
  .messengers {
    display: block;
    width: 13%;
    font-size: 14px;
    padding-left: 0px;
  }

  .mes-wifi-box {
    margin-right: 10px;

    .wifi-svg-img {
      width: 29px;
      height: 29px;
    }
  }

  .mes-plane-box {
    margin-right: 14px;
    .plane-svg-img {
      width: 35px;
      height: 29px;
    }
  }

  .mes-whatsapp-box {
    .whatsapp-svg-img {
      width: 29px;
      height: 29px;
    }
  }
  .call-us {
    display: block;
    font-size: 15px;
    .call-phone {
      font-size: 20px;
    }
    .call-svg-img {
      width: 39px;
      height: 38px;
    }
  }
  .call-phone {
    font-size: 20px;
    line-height: 30px;
  }
}
