.header {
  width: 9.3229%;
  float: left;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 998;
  text-align: center;
}

.text {
  /* значение противоположное фону заполнителя */
  color: black;
  mix-blend-mode: difference;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.text:after {
  /* значение противоположное фону заполнителя */
  color: red;
  mix-blend-mode: difference;
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
