.mouse-box {
  width: 8.7%;
  position: relative;
  position: fixed;
  top: 90%;
  left: 0%;
  z-index: 998;
  display: none;
}

.mouse-svg {
  position: absolute;
  top: 0;
  left: 40%;
  /*  transform: translateX(-50%); */
  animation: move 2s infinite alternate;
}

.mouse-move {
}
@keyframes move {
  from {
    top: -20px;
  }
  to {
    bottom: 0;
  }
}

@media (min-width: 650px) {
  .mouse-box {
    display: block;
  }
}

@media (min-width: 1200px) {
  .mouse-box {
    display: block;
  }
}
