.scale-box {
  width: 8.7%;
  float: left;
  position: fixed;
  top: 60%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 998;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.current-page {
  width: 33.33%;
  height: 15px;
  text-align: center;
  color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  font-size: 14px;
  text-align: center;
}

.scale {
  width: 33.33%;
  height: 100%;
}

.total-pages {
  text-align: center;
  width: 33.33%;
  height: 15px;
  text-align: center;
  color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  font-size: 14px;
}

.scale-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  line-height: 25px;
}

.scale-circle {
  width: 7px;
  height: 7px;
  background-color: #e5e5e5;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #ff0000;
  width: 14px;
  height: 14px;
}

.scale-circle:hover {
  background-color: #ff0000;
  width: 14px;
  height: 14px;
}

@media (min-width: 768px) {
  .scale-box {
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  .scale-box {
    visibility: visible;
  }
}
