.wrapper {
  min-width: 486px;
  height: 100%;
  position: relative;
  background-color: white;
  overflow: hidden;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1920px;
  }
}
